
{block content}

<h1 n:block=title>Nastavení</h1>

<div>
    <div id='menu'>
        <ul>
            <li><a href='#' onclick="$('[id*=page]').hide();
                    $('#page-runtime').show();">runtime</a></li>
            <li><a href='#' onclick="$('[id*=page]').hide();
                    $('#page-prop').show();">properties</a></li>
            <li><a href='#' onclick="$('[id*=page]').hide();
                    $('#page-ips').show();">banned ips</a></li>
            <li><a href='#' onclick="$('[id*=page]').hide();
                    $('#page-players').show();">banned players</a></li>
            <li><a href='#' onclick="$('[id*=page]').hide();
                    $('#page-white').show();">whitelist</a></li>
            <li><a href='#' onclick="$('[id*=page]').hide();
                    $('#page-eula').show();">eula</a></li>
        </ul>
    </div>
    <div id='wrap'>
        <div id='page-runtime'>
            {control serverParams}
        </div>
        <div id='page-prop'>
            {control serverProps}
            <span class="icon warning">Neměňte port serveru. Umírají kvůli tomu koťátka.</span>
        </div>
        <div id='page-ips'>
            {control bannedIPs}
            <span n:if="$running" class="icon info">Není dobrý nápad upravovat konfigurační soubory běžícího serveru.</span>
        </div>
        <div id='page-players'>
            {control bannedPlayers}
            <span n:if="$running" class="icon info">Není dobrý nápad upravovat konfigurační soubory běžícího serveru.</span>
        </div>
        <div id='page-white'>
            {control whiteList}
            <span n:if="$running" class="icon info">Není dobrý nápad upravovat konfigurační soubory běžícího serveru.</span>
        </div>
        <div id='page-eula'>
            {control eula}
            <span n:if="$running" class="icon info">Není dobrý nápad upravovat konfigurační soubory běžícího serveru.</span>
        </div>
    </div>
    <span class="icon info">Pro uplatnění změn je nutné restartovat sever.</span>
</div>

{/block}
{block scripts}
<script>$('#page-runtime').show();</script>
{/block}
{block head}
<style>
    div#wrap div{
        display: none;
    }
    #menu{
        background-color: #eeeeee;
    }
    #menu ul {
        list-style-type: none;
        height: 30px;
        width: 700px;
        margin: auto;
    }
    #menu ul a {
        padding-right: 10px;
        padding-left: 10px;
        display: block;
        line-height: 30px;
        text-decoration: none;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 21px;
    }
    #menu ul a:hover {
        color: red;
    }
    #menu li {
        float: left;
    }
</style>
{/block}