{block content}

<h1 n:block=title>Stav serveru</h1>
{if $running}
    <span class="icon tick">Server běží na adrese {$address}</span><br>
{else}
    <span class="icon cross">Server je vypnutý</span><br>
{/if}
<fieldset id="log">
    <legend>log:</legend>
    {snippet log}
        <div style=" max-height: 400px; overflow-y: scroll; overflow-x: hidden; position: relative; top:-10px;">
            {foreach $logs as $line}
                <span n:class='$iterator->odd ? "odd log" : "even log"'>
                    {!$line}<br>
                </span>
            {/foreach}
        </div>
    {/snippet}
</fieldset>
{if $running}
    <span class="icon info" id="refresh-on">
        Logy se automaticky obnovují. Kliknutím <a onclick="clearTimeout(t);
                $('#refresh-on').hide();
                $('#refresh-off').show();">sem</a> to zakážete.
    </span>
    <span class="icon download" id="refresh-off" style="display:none">
        <a n:href="reload!" class="ajax" id="refr-link">Načíst znovu</a>
    </span>
{/if}
{/block}
{block head}
<style>
    span.log{
        display: inline-block;
        width: 730px;
    }
    span.odd{
        background-color: #f4f4f4;
    }
</style>
{/block}
{block scripts}
{if $running}
    <script>
        function reload() {
            $("#refr-link").click();
            t = setTimeout(function() {
                reload();
            }, 10000);
        }
        t = setTimeout(function() {
            reload();
        }, 10000);
        $.nette.ext('spinner-hide', {
            start: function() {
                $('#ajax-spinner').hide();
                $('#log').fadeTo("fast", 0.4);
            },
            complete: function() {
                $('#log').fadeTo("fast", 1);
            }
        });
    </script>
{/if}
{/block}